<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Mineshare | Форум</title>

    <meta property="og:title" content="Mineshare | Форум" />
    <meta property="og:image" content="https://mineshare.top/img/favicon-alt.png">

    <link href="https://fonts.cdnfonts.com/css/tt-norms-pro" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/tt-norms-medium" type="text/css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/7a9092486b.css" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/style.css" media="screen,projection">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap-grid.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <style>
        body {
            background: #fff;
            background: url('../img/cloud-bg.png') repeat-x 0 / 90% auto;
            animation: cloud-bg 60s linear infinite;
            margin: 0;
        }

        .container {
            width: auto;
        }

        @keyframes cloud-bg {
            0% {
                background-position: 0 -100px;
            }

            100% {
                background-position: 100vw -100px;
            }
        }

        nav {
            position: relative;
        }

        nav .navbar {
            height: 95px;
            position: relative;
            background: white;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 40px;
        }

        nav .navbar .logo {
            margin-top: 27px;
        }

        nav .navbar .logo a {
            color: #000;
            font-family: 'TT Norms Pro', sans-serif;
            text-transform: none;
            font-weight: 600;
            font-size: 28px;
            text-decoration: none;
        }

        nav .navbar .logo a .forum {
            color: #bdbdbe;
            font-weight: 500;
        }

        nav .navbar .search {
            height: 50px;
            background: #f9f9f9;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 22.5px;
            margin-right: 14px;
            vertical-align: top;
        }

        nav .navbar .search input {
            min-width: 200px;
            height: 29.34px;
            border-radius: 6px 0 0 6px;
            border: 1.5px solid #e2e2e2;
            font-family: "Nunito", sans-serif;
            font-size: 14px;
            vertical-align: top;
            padding: 0;
            padding-left: 8px;
            padding-right: 8px;
            margin-top: 9px;
        }

        nav .navbar .search input:focus {
            outline: none;
        }

        nav .navbar .search input::placeholder {
            color: #b6b6b6;
        }

        nav .navbar .search button {
            width: 32px;
            height: 32px;
            position: relative;
            background: #11B2FF;
            border-radius: 0 6px 6px 0;
            border: none;
            vertical-align: top;
            margin-top: 9px;
            margin-left: 4px;
            cursor: pointer;
        }

        nav .navbar .search button i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
        }

        nav .navbar .auth .auth-button {
            width: 150px;
            height: 50px;
            background: linear-gradient(98.44deg, #8DEBFF 0%, #00ABFF 100%), #339DFF;
            border-radius: 10px;
            border: none;
            font-size: 19px;
            color: #fff;
            font-family: 'TTNormsMedium';
            font-size: 19px;
            padding-bottom: 4px;
            margin-top: 22.5px;
            cursor: pointer;
        }

        nav .navbar .auth .auth-button-mobile {
            width: 50px;
            height: 50px;
            position: relative;
            background: linear-gradient(98.44deg, #8DEBFF 0%, #00ABFF 100%), #339DFF;
            border-radius: 10px;
            border: none;
            font-size: 19px;
            color: #fff;
            margin-top: 22.5px;
            cursor: pointer;
        }

        nav .navbar .auth .auth-button-mobile i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .card {
            background-color: #F3F7FC;
            border-radius: 18px;
            padding-top: 25px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 25px;
            margin-bottom: 25px;
        }

        .global-title {
            position: relative;
            color: rgb(198, 198, 198);
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 26px;
            font-weight: 500;
            margin-top: -5px;
            margin-left: 5px;
            margin-bottom: 20px;
        }

        .global-title::after {
            content: '';
            position: absolute;
            top: 55%;
            left: 230px;
            width: calc(100% - 235px);
            height: 2px;
            background: rgb(202, 202, 202);
            border-radius: 40px;
        }

        .admin-title {
            width: calc(100% - 179px);
            position: relative;
            color: rgb(198, 198, 198);
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 26px;
            font-weight: 500;
            margin-top: 0;
            margin-left: 5px;
            margin-bottom: 30px;
            display: inline-flex;
            vertical-align: bottom;
        }

        .admin-title::after {
            content: '';
            position: absolute;
            top: 55%;
            left: 250px;
            width: calc(100% - 250px);
            height: 2px;
            background: rgb(202, 202, 202);
            border-radius: 40px;
        }

        .admin-panel {
            margin-top: -4px;
            vertical-align: top;
        }

        .admin-panel .button {
            width: 40px;
            height: 40px;
            position: relative;
            background: #fff;
            border: 1.5px solid #ededed;
            border-radius: 8px;
            margin-left: 15px;
            cursor: pointer;
        }

        .admin-panel .button:hover {
            border: 1.5px solid #11B2FF;
        }

        .admin-panel .button i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #3A4E57;
            font-size: 15px;
        }

        .topic {
            position: relative;
            background: #fff;
            background-size: 400px;
            background-repeat: no-repeat;
            background-position: 100%;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 16px;
            margin-bottom: 20px;
            overflow: hidden;
            cursor: pointer;
            user-select: none;
        }

        .line {
            width: 100%;
            height: 2px;
            border-radius: 40px;
            background: rgb(202, 202, 202);
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .topic:hover .title {
            text-decoration: underline;
        }

        .topic:hover .ban {
            text-decoration: line-through;
        }

        .topic .avatar {
            width: 50px;
            height: 50px;
            position: relative;
            background: #11B2FF;
            border-radius: 6px;
            margin-right: 14px;
        }

        .topic .avatar-ban {
            background: #f67468;
        }

        .topic .avatar i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 24px;
        }

        .topic .title-subtitle {
            height: 50px;
            vertical-align: top;
        }

        .topic .title {
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 18px;
            font-weight: 700;
            margin-top: -1px;
            margin-bottom: 5px;
        }

        .topic .subtitle {
            width: 400px;
            height: 25px;
            color: #959595;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            overflow: hidden;
        }

        .topic .ban {
            text-decoration: line-through;
        }

        .topic .counter {
            height: 52.5px;
            overflow: hidden;
            vertical-align: top;
            float: right;
        }

        .topic .counter .records {
            height: 22px;
            background: #fff;
            border: 1.5px solid #ededed;
            border-radius: 4px;
            color: #9c9c9c;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 13px;
            font-weight: 500;
            text-align: right;
            padding-top: 2px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 2px;
            margin-bottom: 5px;
        }

        .topic .counter .records i {
            font-size: 10px;
            vertical-align: top;
            margin-top: 3.5px;
            margin-left: 5px;
        }

        .topic .counter .views {
            height: 22px;
            background: #fff;
            border: 1.5px solid #ededed;
            border-radius: 4px;
            color: #9c9c9c;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 13px;
            text-align: right;
            font-weight: 500;
            padding-top: 2px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 2px;
        }

        .topic .counter .views i {
            font-size: 10px;
            vertical-align: top;
            margin-top: 3px;
            margin-left: 3px;
        }

        .topic .info {
            width: 50px;
            height: 50px;
            position: relative;
            background: #fff;
            border: 1.5px solid #ededed;
            border-radius: 4px;
            float: right;
            margin-left: 7px;
            transition: 0.2s;
        }

        .topic .info:hover {
            border: 1.5px solid #11B2FF;
        }

        .topic .info i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #11B2FF;
            font-size: 22px;
        }

        .topic .up {
            width: 50px;
            height: 50px;
            position: relative;
            background: #fff;
            border: 1.5px solid #ededed;
            border-radius: 4px;
            float: right;
            margin-left: 7px;
            transition: 0.2s;
        }

        .topic .up:hover {
            border: 1.5px solid #11B2FF;
        }

        .topic .up i {
            position: absolute;
            top: 51%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #11B2FF;
            font-size: 25px;
        }

        .panel .avatar {
            position: relative;
            background: #fff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 16px;
            margin-bottom: 20px;
        }

        .panel .edit {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 32px;
            right: 32px;
            background: #11B2FF;
            border: 2px solid #11B2FF;
            border-radius: 4px;
            cursor: pointer;
        }

        .panel .edit:hover {
            border: 2px solid #fff;
        }

        .panel .edit i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 16px;
        }

        .panel .avatar img {
            width: 100%;
            border-radius: 10px;
        }

        .panel .username {
            background: #fff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
        }

        .panel .username input {
            width: calc(100% - 24px);
            height: 29px;
            border: 2px solid #ebebeb;
            border-radius: 6px;
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 16px;
            padding-left: 9px;
            padding-right: 9px;
            padding-bottom: 2px;
            vertical-align: top;
            outline: none;
        }

        .panel .username input:focus {
            border: 2px solid #11B2FF;
        }

        .panel .username .save {
            width: 32px;
            height: 32px;
            position: relative;
            background: #11B2FF;
            border: 2px solid #ebebeb;
            border-radius: 6px;
            float: right;
            cursor: pointer;
            display: none;
        }

        .panel .username .save i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 16px;
        }

        .monitoring {
            background: #fff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            user-select: none;
        }

        .monitoring button {
            width: 100%;
            background: linear-gradient(98.44deg, #8DEBFF 0%, #00ABFF 100%), #339DFF;
            box-shadow: 0px 0px 8px rgba(113, 212, 255, 0.5);
            border-radius: 8px;
            border: none;
            color: #fff;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 4px;
            padding-top: 14px;
            padding-left: 14px;
            padding-bottom: 14px;
            cursor: pointer;
        }

        .monitoring button:hover {
            background: linear-gradient(98.44deg, #76c1e5 0%, #008ccc 100%), #267bb7;
        }

        .monitoring button i {
            margin-left: 7px;
            font-size: 13px;
        }

        footer {
            position: relative;
            background: #fff;
            box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.08);
            padding-top: 60px;
            padding-bottom: 60px;
            margin-top: 25px;
        }

        footer .group {
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        footer .link {
            font-family: "Nunito Sans", sans-serif;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        footer .link a {
            color: #808080;
        }

        footer .link a:hover {
            color: #11B2FF;
        }

        footer .discord {
            width: 40px;
            height: 40px;
            position: relative;
            background: #7289da;
            border: 2px solid #7289da;
            border-radius: 8px;
            cursor: pointer;
        }

        footer .discord:hover {
            border: 2px solid #11B2FF;
        }

        footer .discord i {
            position: absolute;
            top: 49%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 18px;
        }

        .loading {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background: rgba(0, 0, 0, 0.4);
            overflow: hidden;
            z-index: 100;
            display: none;
        }

        .skin-modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }

        .skin-modal .modal-content {
            width: 300px;
            border-radius: 14px;
            margin: 15% auto;
            background-color: #F3F7FC;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            padding: 15px;
        }

        .skin-modal .modal-box {
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding-top: 13px;
            padding-left: 35px;
            padding-right: 35px;
            padding-bottom: 31px;
        }

        .skin-modal .modal-content .close {
            color: #b7b7b7;
            font-size: 18px;
            margin-right: -21px;
            margin-bottom: 30px;
            cursor: pointer;
        }

        .skin-modal .modal-content .close:hover {
            color: #949494;
        }

        .skin-modal .modal-content img {
            width: 160px;
            border-radius: 10px;
            font-family: 'TT Norms Pro', sans-serif;
            margin-bottom: 40px;
        }

        .skin-modal .modal-content input {
            width: 100%;
            background: #fff;
            border-radius: 8px;
            border: 2px solid #ebebeb;
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            padding-top: 10.5px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 12px;
            margin-bottom: 15px;
        }

        .skin-modal input:focus {
            border: 2px solid #11B2FF;
            outline: none;
        }

        .skin-modal .modal-content button {
            width: 150px;
            background: #11B2FF;
            border: none;
            border-radius: 6px;
            color: #fff;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            font-weight: 500;
            padding-top: 8.5px;
            padding-bottom: 10px;
            cursor: pointer;
        }

        .skin-modal .modal-content button:hover {
            background: #0E99E6;
        }

        .report-modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }

        .report-modal .modal-content {
            width: 400px;
            border-radius: 14px;
            margin: 15% auto;
            background-color: #F3F7FC;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            padding: 15px;
        }

        .report-modal .modal-box {
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding-top: 13px;
            padding-left: 35px;
            padding-right: 35px;
            padding-bottom: 31px;
        }

        .report-modal .modal-content .close {
            color: #b7b7b7;
            font-size: 18px;
            margin-right: -21px;
            margin-bottom: 25px;
            cursor: pointer;
        }

        .report-modal .modal-content .close:hover {
            color: #949494;
        }

        .report-modal .modal-content .reason {
            width: 100%;
            background: #fff;
            border-radius: 6px;
            border: 2px solid #ebebeb;
            color: rgb(146, 146, 146);
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            padding-top: 10px;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 11px;
            margin-bottom: 15px;
            -webkit-appearance: none;
            appearance: none;
        }

        .report-modal .modal-content .reason-icon {
            position: absolute;
            top: 22%;
            right: 13px;
            color: rgb(146, 146, 146);
        }

        .report-modal .modal-content .reason:focus {
            border: 2px solid #11B2FF;
            outline: none;
        }

        .report-modal .modal-content .reason option {
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
        }

        .report-modal .modal-content .details {
            width: 100%;
            background: #fff;
            border-radius: 6px;
            border: 2px solid #ebebeb;
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            padding-top: 10px;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 11px;
            margin-bottom: 30px;
        }

        .report-modal .modal-content .details:focus {
            border: 2px solid #11B2FF;
            outline: none;
        }

        .report-modal .modal-content .details::placeholder {
            color: rgb(146, 146, 146);
        }

        .report-modal .modal-content button {
            width: 150px;
            background: #11B2FF;
            border: none;
            border-radius: 6px;
            color: #fff;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            font-weight: 500;
            padding-top: 8.5px;
            padding-bottom: 10px;
            cursor: pointer;
        }

        .report-modal .modal-content button:hover {
            background: #0E99E6;
        }

        @media (max-width: 575.98px) {
            nav .navbar {
                padding-left: 25px;
                padding-right: 25px;
                margin-top: 20px;
            }

            nav .navbar .logo {
                margin-top: 15.5px;
            }

            nav .navbar .logo a .forum {
                font-weight: 600;
            }
        }
    </style>

    <div class="loading"></div>

    <div id="skin_modal" class="skin-modal">
        <div class="modal-content">
            <div class="modal-box">
                <form action="/account/skin" method="post">
                    <div class="d-flex justify-content-end">
                        <div class="d-inline-flex close" onclick="$('#skin_modal').css('display', 'none');"><i
                                class="fa-solid fa-xmark"></i></div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <img id="skin_img" src="https://mc-heads.net/avatar/<%= user.skin %>" alt="Скин не найден">
                    </div>

                    <div class="d-flex justify-content-center">
                        <input id="skin_input" class="skin" name="skin" placeholder="UUID">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button>Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="report_modal" class="report-modal">
        <div class="modal-content">
            <div class="modal-box">
                <form id="report_form" action="report" method="post">
                    <div class="d-flex justify-content-end">
                        <div class="d-inline-flex close" onclick="$('#report_modal').css('display', 'none');"><i
                                class="fa-solid fa-xmark"></i></div>
                    </div>

                    <div class="d-flex justify-content-center" style="position: relative;">
                        <i class="fa-solid fa-caret-down reason-icon"></i>
                        <select id="reason" class="reason" name="verification" required>
                            <option value="">Результат верификации</option>
                            <option value="1">Да, было выявлено нарушение</option>
                            <option value="2">Нет, нарушения отсутствуют</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <input class="details" name="verification_details" placeholder="Дополнительная информация">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button>Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <nav>
        <div class="container">
            <div class="navbar">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="/">Mineshare<br class="d-block d-sm-none"><span class="d-none d-sm-inline-flex"
                                style="color: #bdbdbe; font-weight: 500;">｜</span><span class="forum">ФОРУМ</span></a>
                    </div>
                    <div>
                        <div class="d-none d-lg-inline-flex search">
                            <form>
                                <input name="search" type="text" placeholder="Мини-игры">
                                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </div>

                        <div class="d-inline-flex auth">
                            <button class="auth-button d-none d-md-block"
                                onclick="window.location = '/logout';">Выйти</button>
                            <button class="auth-button-mobile d-block d-md-none"
                                onclick="window.location = '/logout';"><i
                                    style="transform: scale(-1, -1) translate(50%, 50%);"
                                    class="fa-solid fa-arrow-right-from-bracket"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div style="position: relative; margin-top: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="card panel">
                        <div class="avatar">
                            <div class="edit" onclick="openSkinModal();"><i class="fa-solid fa-image-polaroid-user"></i>
                            </div>
                            <img src="https://mc-heads.net/avatar/<%= user.skin %>/600">
                        </div>

                        <div class="username">
                            <form action="/account/username" method="post">
                                <input id="username_input" class="d-inline-flex" name="username"
                                    value="<%= user.username %>" placeholder="Никнейм" maxlength="20">
                                <div id="username_save" class="save"
                                    onclick="$('body').css('overflow', 'hidden'); $('.loading').css('display', 'block'); $(this).parent().submit();">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-9">
                    <div class="card" style="min-height: 600px;">
                        <p class="global-title">Ваши публикации</p>

                        <% teams.forEach(topic=> { %>
                            <div class="topic">
                                <div class="d-inline-flex justify-content-start">
                                    <% if (topic.ban) { %>
                                        <div class="d-inline-flex avatar avatar-ban">
                                            <i class="fa-solid fa-ban"></i>
                                        </div>
                                        <% } else { %>
                                            <div class="d-inline-flex avatar">
                                                <% if (topic.type==1) { %>
                                                    <i class="fa-solid fa-users-medical"></i>
                                                    <% } else if (topic.type==2) { %>
                                                        <i class="fa-solid fa-user-plus"></i>
                                                        <% } %>
                                            </div>
                                            <% } %>
                                                <div class="d-inline-flex flex-column title-subtitle"
                                                    onclick="window.location = '/teams/topic/<%= topic.identifier %>';">
                                                    <div class="title <% if (topic.ban) { %>ban<% } %>">
                                                        <%= topic.title %>
                                                    </div>
                                                    <div class="subtitle <% if (topic.ban) { %>ban<% } %>">
                                                        <%= topic.description %>
                                                    </div>
                                                </div>
                                </div>

                                <% if (!topic.ban) { %>
                                    <% if (topic.status) { %>
                                        <div class="d-none d-sm-inline-flex info"
                                            onclick="$('body').css('overflow', 'hidden'); $('.loading').css('display', 'block'); window.location = '/account/teams/<%= topic.identifier %>/open';">
                                            <i class="fa-solid fa-lock"></i>
                                        </div>
                                        <% } else { %>
                                            <div class="d-none d-sm-inline-flex info"
                                                onclick="$('body').css('overflow', 'hidden'); $('.loading').css('display', 'block'); window.location = '/account/teams/<%= topic.identifier %>/close';">
                                                <i class="fa-solid fa-lock-open"></i>
                                            </div>
                                            <% } %>

                                                <div class="d-none d-sm-inline-flex info"
                                                    onclick="window.location = '/account/teams/<%= topic.identifier %>/edit';">
                                                    <i class="fa-solid fa-pen-clip"></i>
                                                </div>

                                                <% if (!topic.status) { %>
                                                    <div class="d-none d-sm-inline-flex up"
                                                        onclick="$('body').css('overflow', 'hidden'); $('.loading').css('display', 'block'); window.location = '/account/teams/<%= topic.identifier %>/up';">
                                                        <i class="fa-solid fa-up-to-line"></i>
                                                    </div>
                                                    <% } %>
                                                        <% } else { %>
                                                            <div class="d-none d-sm-inline-flex info">
                                                                <i class="fa-solid fa-circle-question"></i>
                                                            </div>
                                                            <% } %>
                            </div>
                            <% }); %>

                                <% creation.forEach(topic=> { %>
                                    <div class="topic">
                                        <div class="d-inline-flex justify-content-start">
                                            <% if (topic.ban) { %>
                                                <div class="d-inline-flex avatar avatar-ban">
                                                    <i class="fa-solid fa-ban"></i>
                                                </div>
                                                <% } else { %>
                                                    <div class="d-inline-flex avatar">
                                                        <% if (topic.type==1) { %>
                                                            <i class="fa-solid fa-fort"></i>
                                                            <% } else if (topic.type==2) { %>
                                                                <i class="fa-solid fa-house-chimney-window"></i>
                                                                <% } else if (topic.type==3) { %>
                                                                    <i class="fa-solid fa-crystal-ball"></i>
                                                                    <% } else if (topic.type==4) { %>
                                                                        <i class="fa-solid fa-square-info"></i>
                                                                        <% } %>
                                                    </div>
                                                    <% } %>
                                                        <div class="d-inline-flex flex-column title-subtitle"
                                                            onclick="window.location = '/creation/topic/<%= topic.identifier %>';">
                                                            <div class="title <% if (topic.ban) { %>ban<% } %>">
                                                                <%= topic.title %>
                                                            </div>
                                                            <div class="subtitle <% if (topic.ban) { %>ban<% } %>">
                                                                <%= topic.description %>
                                                            </div>
                                                        </div>
                                        </div>

                                        <% if (!topic.ban) { %>
                                            <% if (topic.status) { %>
                                                <div class="d-none d-sm-inline-flex info"
                                                    onclick="$('body').css('overflow', 'hidden'); $('.loading').css('display', 'block'); window.location = '/account/creation/<%= topic.identifier %>/open';">
                                                    <i class="fa-sharp fa-solid fa-eye-slash"></i>
                                                </div>
                                                <% } else { %>
                                                    <div class="d-none d-sm-inline-flex info"
                                                        onclick="$('body').css('overflow', 'hidden'); $('.loading').css('display', 'block'); window.location = '/account/creation/<%= topic.identifier %>/close';">
                                                        <i class="fa-solid fa-eye"></i>
                                                    </div>
                                                    <% } %>

                                                        <% if (!topic.status) { %>
                                                            <div class="d-none d-sm-inline-flex up"
                                                                onclick="$('body').css('overflow', 'hidden'); $('.loading').css('display', 'block'); window.location = '/account/creation/<%= topic.identifier %>/up';">
                                                                <i class="fa-solid fa-up-to-line"></i>
                                                            </div>
                                                            <% } %>
                                                                <% } else { %>
                                                                    <div class="d-none d-sm-inline-flex info">
                                                                        <i class="fa-solid fa-circle-question"></i>
                                                                    </div>
                                                                    <% } %>
                                    </div>
                                    <% }); %>
                    </div>
                </div>
                <% if (user.admin) { %>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3"></div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-9">
                        <div class="card" style="padding-bottom: 5px;">
                            <p class="admin-title">Панель управления</p>
                            <div class="d-inline-flex justify-content-end admin-panel">
                                <div class="button" onclick="changeAdminPage(1);" style="margin-left: 12px;"><i
                                        class="fa-solid fa-rectangle-history"></i></div>
                                <div class="button" onclick="changeAdminPage(2);"><i class="fa-solid fa-users"></i>
                                </div>
                                <div class="button" onclick="changeAdminPage(3);"><i class="fa-solid fa-flag"></i></div>
                            </div>
                            <div id="admin_topics">
                                <% admin_teams.forEach(topic=> { %>
                                    <div class="topic">
                                        <div class="d-inline-flex justify-content-start">
                                            <div class="d-inline-flex avatar">
                                                <% if (topic.type==1) { %>
                                                    <i class="fa-solid fa-users-medical"></i>
                                                    <% } else if (topic.type==2) { %>
                                                        <i class="fa-solid fa-user-plus"></i>
                                                        <% } %>
                                            </div>
                                            <div class="d-inline-flex flex-column title-subtitle"
                                                onclick="window.location = '/teams/topic/<%= topic.identifier %>';">
                                                <div class="title">
                                                    <%= topic.title %>
                                                </div>
                                                <div class="subtitle">
                                                    <%= topic.description %>
                                                </div>
                                            </div>
                                        </div>

                                        <% if (topic.ban) { %>
                                            <div class="d-none d-sm-inline-flex info"
                                                onclick="window.location = '/account/admin/teams/<%= topic.identifier %>/unban';">
                                                <i class="fa-solid fa-ban" style="color: #f67468;"></i>
                                            </div>
                                            <% } else { %>
                                                <div class="d-none d-sm-inline-flex info"
                                                    onclick="window.location = '/account/admin/teams/<%= topic.identifier %>/ban';">
                                                    <i class="fa-solid fa-ban"></i>
                                                </div>
                                                <% } %>
                                    </div>
                                    <% }); %>
                            </div>
                            <div id="admin_users" style="display: none;">

                            </div>
                            <div id="admin_reports" style="display: none;">
                                <% admin_reports.forEach(function(report, index) { %>
                                    <div class="topic" <% if (report.status) { %>style="filter: grayscale(1);"<% } %>>
                                            <div class="d-inline-flex justify-content-start">
                                                <div class="d-inline-flex avatar avatar-ban">
                                                    <% if (report.reason==1) { %>
                                                        <i class="fa-solid fa-person-sign"></i>
                                                        <% } else if (report.reason==2) { %>
                                                            <i class="fa-solid fa-person-harassing"></i>
                                                            <% } else if (report.reason==3) { %>
                                                                <i class="fa-solid fa-person-dress-simple"></i>
                                                                <% } else if (report.reason==4) { %>
                                                                    <i class="fa-solid fa-person-circle-xmark"></i>
                                                                    <% } else { %>
                                                                        <i class="fa-solid fa-person-rifle"></i>
                                                                        <% } %>
                                                </div>

                                                <div class="d-inline-flex flex-column title-subtitle">
                                                    <div class="title">
                                                        <% if (report.reason==1) { %>
                                                            Спам или ложная информация
                                                            <% } else if (report.reason==2) { %>
                                                                Оскорбления или проявления нетерпимости
                                                                <% } else if (report.reason==3) { %>
                                                                    Контент сексуального характера
                                                                    <% } else if (report.reason==4) { %>
                                                                        Нарушение авторских прав
                                                                        <% } else { %>
                                                                            Пропаганда терроризма
                                                                            <% } %>
                                                    </div>
                                                    <div class="subtitle">
                                                        <% if (report.details) { %>
                                                            <%= report.details %>
                                                                <% } else { %>
                                                                    —————————————————————————<br>
                                                                    Дополнительное описание отсутствует
                                                                    <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <% if (report.status) { %>
                                                <div class="d-none d-sm-inline-flex info">
                                                    <i class="fa-solid fa-circle-check"></i>
                                                </div>
                                                <% } else { %>
                                                    <div class="d-none d-sm-inline-flex info" onclick="openReportModal('<%= report.id %>');">
                                                        <i class="fa-solid fa-circle-exclamation"></i>
                                                    </div>
                                                    <% } %>
                                                        <div class="d-none d-sm-inline-flex info"
                                                            onclick="window.open('https://forum.mineshare.top/<%= report.topic %>/topic/<%= report.topic_id %>/', '_blank')">
                                                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                        </div>
                                    </div>
                                    <% }); %>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 d-none d-md-block">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="group">Ссылки</div>
                            <div class="link"><a>Команда разработчиков</a></div>
                            <div class="link"><a>Подробности проекта</a></div>
                        </div>

                        <div>
                            <div class="group">Информация</div>
                            <div class="link"><a>Условия использования</a></div>
                            <div class="link"><a>Политика конфиденциальности</a></div>
                        </div>

                        <div>
                            <div class="group">Услуги</div>
                            <div class="link"><a>Партнёрские программы</a></div>
                            <div class="link"><a>Магазин мониторинга</a></div>
                        </div>

                        <div>
                            <div class="group">Помощь</div>
                            <div class="link"><a>Техническая поддержка</a></div>
                            <div class="link"><a>Сообщить о нарушении</a></div>
                        </div>

                        <div>
                            <div class="discord" onclick="window.open('https://discord.gg/mineshare', '_blank')"><i
                                    class="fa-brands fa-discord"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-block d-md-none">
                    <div style="padding-left: 10px;">
                        <div class="group">Ссылки</div>
                        <div class="link"><a>Команда разработчиков</a></div>
                        <div class="link"><a>Подробности проекта</a></div>
                    </div>
                </div>
                <div class="col-6 d-block d-md-none">
                    <div style="margin-bottom: 50px;">
                        <div class="group">Информация</div>
                        <div class="link"><a>Условия использования</a></div>
                        <div class="link"><a>Политика конфиденциальности</a></div>
                    </div>
                </div>
                <div class="col-6 d-block d-md-none">
                    <div style="padding-left: 10px;">
                        <div class="group">Услуги</div>
                        <div class="link"><a>Партнёрские программы</a></div>
                        <div class="link"><a>Магазин мониторинга</a></div>
                    </div>
                </div>
                <div class="col-6 d-block d-md-none">
                    <div>
                        <div class="group">Помощь</div>
                        <div class="link"><a>Техническая поддержка</a></div>
                        <div class="link"><a>Сообщить о нарушении</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function updateSkin() {
            $('#skin_img').attr('src', `https://crafatar.com/avatars/${$('#skin_input').val()}?default=54c32ed5ab7243e5a00eec680d514523`);
        }

        function openSkinModal() {
            $('#skin_modal').css('display', 'block');
        }

        function openReportModal(id) {
            $('#report_form').attr('action', `admin/${id}/report`);
            $('#report_modal').css('display', 'block');
        }

        $('#reason').on('change', function () {
            if ($('#reason').find(":selected").val() != '') {
                $('#reason').css('color', '#3A4E57');
            } else {
                $('#reason').css('color', 'rgb(146, 146, 146)');
            }
        });

        $('#skin_input').on("change", function () {
            updateSkin();
        });

        $('#username_input').on("change", function () {
            const old = '<%= user.username %>';

            if ($('#username_input').val() != old) {
                console.log(true);
                $('#username_input').css('width', 'calc(100% - 68px)');
                $('#username_save').css('display', 'inline-flex');
            } else {
                $('#username_input').css('width', 'calc(100% - 24px)');
                $('#username_save').css('display', 'none');
            }
        });

        $('#username_input').on('keypress', function (e) {
            if (e.which == 32) {
                return false;
            }
        });
    </script>

    <% if (user.admin) { %>
        <script>
            function changeAdminPage(page) {
                switch (page) {
                    case 1:
                        $('#admin_topics').css('display', 'block');
                        $('#admin_users').css('display', 'none');
                        $('#admin_reports').css('display', 'none');
                        break;
                    case 2:
                        $('#admin_topics').css('display', 'none');
                        $('#admin_users').css('display', 'block');
                        $('#admin_reports').css('display', 'none');
                        break;
                    case 3:
                        $('#admin_topics').css('display', 'none');
                        $('#admin_users').css('display', 'none');
                        $('#admin_reports').css('display', 'block');
                        break;
                }
            }
        </script>
        <% } %>
</body>

</html>